/* Generelle indstillinger */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Sort baggrund */
    color: #ddd; /* Lys grå tekst */
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* Header styling */
.main-header {
    padding: 50px 0;
}

.main-header h1 {
    font-size: 48px;
    color: #F0B90B; /* Binance gul til overskriften */
    margin-bottom: 10px;
}

.main-header p {
    font-size: 24px;
    color: #aaa; /* Lys grå til underteksten */
    margin-top: 0;
}
